
.tableStyle {
  @apply w-full mb-4 text-gray-800;
  vertical-align: top;
  border-color: #dee2e6;
}

.tableStyle tr:nth-child(even) {
  background-color: #CCE2FD;
}

.tableStyle tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.tableStyle tr.active {
  background-color: rgba(0, 0, 0, 0.1);
}