@import 'bootstrap';

:root {
  --blue-1: #003f7d;
  --blue-2: #003366;
  --blue-3: #002347;

  --orange-1: #ff8e00;
  --orange-2: #fd7702;
  --orange-3: #ff5003;
  --input-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

  --bs-warning: #FF7900;
  --bs-warning-rgb: 255, 121, 0;
}
